@{
    ViewData["Title"] = "Home";
}

<main>
    <!--? Hero Area Start-->
    <div class="container-fluid">
        <div class="slider-area">
            <div class="slider-active dot-style">
                <!-- Single -->
                <div class="single-slider slider-bg1 hero-overly slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-8 col-lg-9">
                                <!-- Hero Caption -->
                                <div class="hero__caption">
                                    <h1>beauty<br>changing<br>always</h1>
                                    <a asp-action="Index" asp-controller="Products" class="btn">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single -->
                <div class="single-slider slider-bg2 hero-overly slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-8 col-lg-9">
                                <!-- Hero Caption -->
                                <div class="hero__caption">
                                    <h1>beauty<br>changing<br>always</h1>
                                    <a asp-action="Index" asp-controller="Products" class="btn">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single -->
                <div class="single-slider slider-bg3 hero-overly slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-8 col-lg-9">
                                <!-- Hero Caption -->
                                <div class="hero__caption">
                                    <h1>beauty<br>changing<br>always</h1>
                                    <a asp-action="Index" asp-controller="Products" class="btn">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Hero -->
    <!--? Popular Items Start -->
    <div class="popular-items pt-50">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                        <div class="popular-img">
                            <img src="assets/img/images/gift-habeshaw-SKICLmVW_eg-unsplash.jpg" alt="">
                            <div class="img-cap">
                                <span>Hair</span>
                            </div>
                            <div class="favorit-items">
                                <a asp-action="Index" asp-controller="Products" class="btn">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="popular-img">
                            <img src="assets/img/images/chelson-tamares-vtQHwU4F13s-unsplash.jpg" alt="">
                            <div class="img-cap">
                                <span>Nails</span>
                            </div>
                            <div class="favorit-items">
                                <a asp-action="Index" asp-controller="Products" class="btn">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="popular-img">
                            <img src="assets/img/images/laura-chouette-yxcCgzSB_iI-unsplash.jpg" alt="">
                            <div class="img-cap">
                                <span>Makeup</span>
                            </div>
                            <div class="favorit-items">
                                <a asp-action="Index" asp-controller="Products" class="btn">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                        <div class="popular-img">
                            <img src="assets/img/images/amy-shamblen-xwM61TPMlYk-unsplash.jpg" alt="">
                            <div class="img-cap">
                                <span>Tools</span>
                            </div>
                            <div class="favorit-items">
                                <a asp-action="Index" asp-controller="Products" class="btn">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Popular Items End -->
    
    <!--? collection -->
    <section class="collection section-bg2 section-padding30 section-over1 ml-15 mr-15 mb-50" data-background="../../assets/img/images/registerpic.jpg">
        <div class="container-fluid"></div>
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9">
                <div class="single-question text-center">
                    <h2 class="wow fadeInUp" data-wow-duration="2s" data-wow-delay=".1s">Create an Account to Shop Today</h2>
                     <a asp-area="Identity" asp-page="/Account/Register" class="btn class="wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">Register</a>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- End collection -->
    
    <!--? Services Area Start -->
    <div class="categories-area section-padding40 gray-bg mb-50">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="cat-icon">
                            <img src="assets/img/icon/services1.svg" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5>Fast Delivery</h5>
                            <p>5-7 business days</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="cat-icon">
                            <img src="assets/img/icon/services2.svg" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5>Secure Checkout</h5>
                            <p>Wide range of payments accepted</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="cat-icon">
                            <img src="assets/img/icon/services3.svg" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5>Satifaction Guaranteed</h5>
                            <p>Or your money back</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="cat-icon">
                            <img src="assets/img/icon/services4.svg" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5>Quick Shipping</h5>
                            <p>Orders shipped in less than 24 hours</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--? Services Area End -->
</main>
